@import 'reset';

.box {
	margin: 10px 0px 0px 150px;
}
.checkbox {
	text-align: left;
	margin-right: 5px;
}

ul {
	list-style-type: none;
	margin-top: 25px;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
.deleteButton {
	background-color: #ccc;
	font-style: bold;
	text-align: right;
	@include border-radius(2px);
	margin-left: 5px;
}
.line {
	margin-bottom: 5px;
}
.button {
	padding: 5px;
	background-color: blue;
	font-style: bold;
	color: white;
	border: black;
	@include border-radius(10px);
}